body {
    font-family: Calibri, Arial, sans-serif;
    margin: 20px;
    background-color: rgb(41, 60, 114);
}

h1 {
    color: black;

}
form {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50%;
}

label {
    margin-bottom: 10px;
}

label span {
    display: block;
    margin-bottom: 0.2rem;
    margin-top: 1.5rem;
    text-transform: uppercase;
    font-family: Monaco, monospace;
    font-weight: lighter;
    font-size: 1.2em; /* or a specific pixel value, e.g. 12px */
}

input[type="text"], input[type="email"], input[type="password"] {
    padding: 10px;
    border: 1px solid rgb(41, 60, 114);
    border-radius: 5px;
    width: 90%;
}

input[type="password"].invalid {
    border-color: red;
    background-color: #ffe6e6;
}

button[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
}

button[type="submit"]:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}